<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.emailcommonres"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/attachment_bg_holo"
        android:label="@string/choosertitle_sharevia">
    </application>

</manifest>
